.repo-card {
    width: 15vw;
    height: 25vw;
    background-color: #e5d5b0;
    border-radius: 2vw;
    padding: 3vw;
    box-shadow: 0px 0.25vw 0.8vw rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    overflow: hidden;

    .repo-badge {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-30%, 30%) rotate(-45deg);
        background-color: #b94019;
        color: white;
        padding: 0.5vw 10vw;
        height: 1.2vw;
        font-size: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        .test90 {
            position: absolute;
            top: -80%;
            left: 50%;
            height: 5vw;
            width: 0.5vw;
            background-color: #0000ff;
        }
    }

    .repo-number {
        font-size: 1vw;
        color: #555;
        margin-bottom: 0.8vw;
    }

    .repo-title {
        font-size: 2vw;
        color: #333;
        margin: 0.8vw 0;
        font-weight: bold;
    }

    .repo-image {
        width: 6.2vw;
        height: 6.2vw;
        object-fit: cover;
        margin: 0.8vw auto;
        border-radius: 0.8vw;
        border: 1px solid #333;
        box-sizing: border-box;
    }

    .repo-description {
        font-size: 1vw;
        color: #333;
        margin-bottom: 15px;
    }

    .statistics {
        font-weight: bold;
        margin: 0.9vw 0;
        font-size: 1.2vw;
    }

    .repo-stats {
        display: flex;
        justify-content: center;
        gap: 1vw;

        .stat {
            display: flex;
            align-items: center;
            margin-bottom: 0.25vw;

            .icon {
                fill: currentColor;
                vertical-align: middle;
                margin-right: 0.25vw;
                width: 0.8vw;
                height: 0.8vw;
            }

            span {
                font-size: 0.7vw;
            } 
        }
    }

    .repo-link {
        display: inline-block;
        margin-top: 20px;
        background-color: #0366d6;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            background-color: #024ea1;
        }
    }
}
