/* https://zeldauniverse.net/media/fonts/ */
@font-face {
    font-family: 'Zelda-BOTW';
    src: url('../polices/The Wild Breath of Zelda.otf') format('opentype');
}
@font-face {
	font-family: 'Hylia-Serif';
	src: url('../polices/HyliaSerifBeta-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Sheikah-BOTW';
	src: url('../polices/BotW_Sheikah.ttf') format('opentype');
}
/* https://www.dafont.com/fr/made-carving-soft.font */
@font-face {
	font-family: 'CarvingSoft-Light';
	src: url('../polices/CarvingSoft-Light.otf') format('opentype');
}
@font-face {
	font-family: 'CarvingSoft-Bold';
	src: url('../polices/CarvingSoft-Bold.otf') format('opentype');
}

/** Polices **/
.zelda-font {
	font-family: 'Zelda-BOTW', sans-serif;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em
}
.hylia-font {
	font-family: 'Hylia-Serif', sans-serif;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em
}
.sheikah-font {
	font-family: 'Sheikah-BOTW', sans-serif;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em
}
.light-font {
	font-family: 'CarvingSoft-Light', sans-serif;
	color: #A5A596;
	text-shadow: black 0.1em 0.1em 0.2em
}
.bold-font {
	font-family: 'CarvingSoft-Bold', sans-serif;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em
}

/* Tailles */
.zelda-h1 { font-size: 10vw; }
.zelda-h2 { font-size: 5vw; }
.zelda-a1 { font-size: 1.5vw; }
.zelda-a2 { font-size: 0.8vw; }
.font-p1 { font-size: 2vw; }
.font-p2 { font-size: 1vw; }
