/* https://zeldauniverse.net/media/fonts/ */
@font-face {
    font-family: 'Zelda-BOTW';
    src: url('../polices/The Wild Breath of Zelda.otf') format('opentype');
}
@font-face {
	font-family: 'Hylia-Serif';
	src: url('../polices/HyliaSerifBeta-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Sheikah-BOTW';
	src: url('../polices/BotW_Sheikah.ttf') format('opentype');
}
/* https://www.dafont.com/fr/made-carving-soft.font */
@font-face {
	font-family: 'CarvingSoft-Light';
	src: url('../polices/CarvingSoft-Light.otf') format('opentype');
}
@font-face {
	font-family: 'CarvingSoft-Bold';
	src: url('../polices/CarvingSoft-Bold.otf') format('opentype');
}

/** Polices **/
.zelda-font {
	font-family: 'Zelda-BOTW', sans-serif;
	color: white;
}
.hylia-font {
	font-family: 'Hylia-Serif', sans-serif;
	color: white;
}
.sheikah-font {
	font-family: 'Sheikah-BOTW', sans-serif;
	color: white;
}
.light-font {
	font-family: 'CarvingSoft-Light', sans-serif;
	color: white;
}
.bold-font {
	font-family: 'CarvingSoft-Bold', sans-serif;
	color: white;
}

/* Tailles */
.font-10 { font-size: 10vw; }
.font-5 { font-size: 5vw; }
.font-2 { font-size: 2vw; }
.font-1-5 { font-size: 1.5vw; }
.font-1 { font-size: 1vw; }
.font-0-8 { font-size: 0.8vw; }

@media only screen and (max-width: 769px) {
	.font-10 { font-size: calc(1.5 * 10vh); }
	.font-5 { font-size: calc(1.5 * 5vh); }
	.font-2 { font-size: calc(1.5 * 2vh); }
	.font-1-5 { font-size: calc(1.5 * 1.5vh); }
	.font-1 { font-size: calc(1.5 * 1vh); }
	.font-0-8 { font-size: calc(1.5 * 0.8vh); }
}
