.carousel-container {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
    transform: scale(1.2);
    opacity: 1;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 0.6vw;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
}
.prev-btn { left: 2vw; }
.next-btn { right: 2vw; }

.prev-btn:hover, .next-btn:hover {
    background-color: #555;
}
