* {
	margin: 0;
	padding: 0;
	cursor: default;
	list-style: none;
	text-decoration: none;
}

html, body {
	background-color: #121423;
	max-width: 100vw;
	min-height: 100vh;
}

/**  **/
.espace1 {
	width: 100vw;
	height: 20vw;
}
.fenetre {
	width: 100vw;
	height: calc(100vw/16 * 7.8);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/** Image de fond **/
.image-fond {
	position: relative;
	width: 90vw;
	aspect-ratio: 16/9;
	background-image: url('https://via.placeholder.com/1920x1080');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.image-fond::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Ajout du grain */
	background-image: url('../images/noise-pattern.jpg');
	opacity: 0.3;
}
.masque-parchemin {
	mask-image: url('../images/masque-parchemin.svg');
	mask-size: cover;
	mask-repeat: no-repeat;
	/* Préfixes pour la compatibilité avec certains navigateurs */
	-webkit-mask-image: url('../images/masque-parchemin.svg');
	-webkit-mask-size: cover;
	-webkit-mask-repeat: no-repeat;
}

/** Menu principal **/
.menu-principal {
	position: absolute;
	top: 7vw;
	left: 14vw;
	width: calc(100vw - 2*14vw);
}

/** Titre **/
.h-nom-prenom {
	position: relative;
	width: 100%;
}
.h-nom {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -20%);
}
.h-prenom {
	position: absolute;
	left: 50%;
	transform: translate(-45%, 90%);
}

/** Menu **/
.liste-nav {
	margin-top: 14vw;
	display: flex;
	justify-content: center;
}
.menu-navigation a li {
	cursor: pointer;
	width: 18vw;
	height: 5vw;
	margin: 0vw;
	div { cursor: pointer; }
	.txt-sheikah { display: none; }

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&:hover, &.active {
		background-image: url('../images/select-menu.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		.txt-sheikah { display: block; }
	}
}

/** personnages **/
#image-perso {
	position: absolute;
	bottom: 2vw;
	right: 4.6vw;
	height: 35vw;
	aspect-ratio: 1/1;
	background-image: url('../images/heros-link1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
	transform: translateX(0);
}
.animate-arriver-droite {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: ArriverDroite;
}
@keyframes ArriverDroite {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}

/** Zone infos **/
.zone-infos {
	position: absolute;
	bottom: 5vw;
	left: 3.9vw;
	height: 25vw;
	width: 30vw;

	background-color: rgba(0, 0, 0, 0.8);
	border: rgba(0, 0, 0, 0.8) solid 0.15vw;
	box-shadow: 0 0 0 0.08vw rgba(165, 165, 150, 0.8) inset;
	box-sizing: border-box;
	border-radius: 0.3vw;
}
