* {
	margin: 0;
	padding: 0;
	cursor: default;
	list-style: none;
	text-decoration: none;
}

html, body {
	background-color: #121423;
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.no-interaction {
    pointer-events: none; /* Désactive tous les événements de clic */
    /* touch-action: none; /* Désactive les interactions tactiles */
}

#home {
	cursor: pointer;
	position: fixed;
	top: 2vw;
	left: 2vw;
	z-index: 100;
	background-color: #121423;

	&::before {
	  content: '';
	  position: absolute;
	  width: 100%;
	  height: 3px;
	  bottom: 0;
	  left: 0;
	  background-color: #ffdd00;
	  transform: scaleX(0);
	  transform-origin: left;
	  transition: transform 0.3s ease-in-out;
	}

	&:hover { color: #ffdd00; }
	&:hover::before { transform: scaleX(1); }
	&::after {
	  content: '';
	  position: absolute;
	  width: 5px;
	  height: 5px;
	  border-radius: 50%;
	  background-color: #ffdd00;
	  bottom: 0;
	  right: -10px;
	  opacity: 0;
	  transform: translateX(10px);
	  transition: opacity 0.3s ease, transform 0.3s ease;
	}

	&:hover::after {
	  opacity: 1;
	  transform: translateX(0);
	}
}

/**  **/
.fenetre {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.sur-fenetre {
	position: absolute;
	top: 2.5vw;
	left: 12.5vw;
	width: 75vw;
	aspect-ratio: 16/9;
}
.space-between-win {
	height: 16vw;
}

/** Image de fond **/
.image-fond {
	position: relative;
	width: 85vw;
	aspect-ratio: 16/9;
	background-image: url('https://via.placeholder.com/1920x1080');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.image-fond::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Ajout du grain */
	background-image: url('../images/noise-pattern.jpg');
	opacity: 0.3;
}
.masque-parchemin {
	mask-image: url('../images/masque-parchemin.svg');
	mask-size: cover;
	mask-repeat: no-repeat;
	/* Préfixes pour la compatibilité avec certains navigateurs */
	-webkit-mask-image: url('../images/masque-parchemin.svg');
	-webkit-mask-size: cover;
	-webkit-mask-repeat: no-repeat;
}

/** Menu principal **/
.menu-principal {
	position: absolute;
	top: 5vw;
	left: 14vw;
	width: calc(100vw - 2*14vw);
}

/** Titre **/
.h-nom-prenom {
	position: relative;
	width: 100%;
}
.h-nom {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -20%);
}
.h-prenom {
	position: absolute;
	left: 50%;
	transform: translate(-45%, 90%);
}

/** Menu **/
.liste-nav {
	margin-top: 14vw;
	display: flex;
	justify-content: center;
}
.menu-navigation a li {
	cursor: pointer;
	width: 18vw;
	height: 5vw;
	margin: 0vw;
	div { cursor: pointer; }
	.txt-sheikah { display: none; }

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&:hover, &.active {
		background-image: url('../images/select-menu.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		.txt-sheikah { display: block; }
	}
}

/** personnages **/
#image-perso {
	position: absolute;
	bottom: 2vw;
	right: 4.3vw;
	height: 33vw;
	aspect-ratio: 1/1;
	background-image: url('../images/heros-link1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
	transform: translateX(0);
}
.animate-arriver-droite {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: ArriverDroite;
}
@keyframes ArriverDroite {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}

/** Zone infos **/
.zone-infos {
	position: absolute;
	bottom: 5.5vw;
	left: 3.9vw;
	height: 22vw;
	width: 25vw;

	background-color: rgba(0, 0, 0, 0.8);
	border: rgba(0, 0, 0, 0.8) solid 0.15vw;
	box-shadow: 0 0 0 0.08vw rgba(165, 165, 150, 0.8) inset;
	box-sizing: border-box;
	border-radius: 0.3vw;
}
.text-info {
	margin: 1vw 0 0 2vw;

	.infos-span {
		width: 95%;
		margin: -0.4vw 0 0.8vw 0;
		display: flex;
		justify-content: space-between;

		span {
			display: flex;
			align-items: center;

			.bi-exclamation-circle-fill {
				height: 0.8vw;
				aspect-ratio: 1/1;
				padding-right: 0.2vw;
			}
		}
	}
	p { width: 95%; }
}
.ligne-separatrice {
	background-color: rgba(165, 165, 150, 0.8);
	width: 95%;
	height: 0.1vw;
	margin: 0.5vw 0;
}
